body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.first-box{
  margin-top: 100px;
  width: 400px;
  min-height: 200px;
  box-shadow: 0px 0px 5px gray;
  float: left;
}
.second-box{
  margin-top: 100px;
  width: 400px;
  min-height: 200px;
  box-shadow: 0px 0px 5px gray;
}
.list{
  margin-top: 10px;
padding: 0px !important;
}
.list li{
  list-style: none;
  background: blueviolet;
  margin-top: 5px;
  padding-left: 10px;
  cursor: pointer;
}
